/*.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    @include lg {
        height: 36px;
        border-radius: 8px;
        font-size: 14px;
    }
    svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        @include lg {
            margin-right: 8px;
        }
    }
    //.btn-blue
    &-blue {
        background: $colorBlue;
        color: #fff;
        @media (any-hover: hover) {
            &:hover {
                background: #3886e1;
            }
        }
        &:active {
            background: #2176da;
        }
        svg {
            fill: #fff;
        }
    }
    &-light {
        background: #edf5fe;
        color: $colorBlue;
        @media (any-hover: hover) {
            &:hover {
                background: #e2eefc;
            }
        }
        &:active {
            background: #dae8fa;
        }

        svg {
            fill: $colorBlue;
        }
    }
    &-outline {
        border: 1px solid $colorBlue;
        color: $colorBlue;
        @media (any-hover: hover) {
            &:hover {
                background: #eceff8;
            }
        }
        &:active {
            background: #dae8fa;
        }
    }
}
*/
