<footer class="footer">
  <div class="footer__cont">
    <div class="footer__info">© <span id="year">2023</span> , Mareven. Все права защищены</div>
    <a href="#" target="_blank" class="footer__intensa">Сделано в <img src="@img/icons/logo.svg" alt="logo" /></a>
  </div>
</footer>

<!-- <script src="js/libs/parsley.min.js"></script> -->
<script src="js/libs/swiper.js"></script>
<!-- <script src="js/libs/dynamic_adapt.js"></script> -->
<script src="js/app.min.js"></script>
<script src="js/script.js"></script>
