@use 'sass:math';

// <НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================
$fontFamily: 'Montserrat';
$fontSize: 16;
$mainColor: #000;
$maxWidthContainer: 1810px;
@import 'base/base';
// </НАСТРОЙКИ> ===============================================================================================================================================================================================================================================================================================

body {
  font-size: $fontSize + px;
  line-height: math.div(24, $fontSize);
  font-family: $fontFamily, sans-serif;

  // Скролл заблокирован
  &._lock {
    overflow: hidden;
    touch-action: none;
  }

  @include lg {
    font-size: 14px;
    line-height: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  width: 100%;
  overflow: clip;

  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

//<ОСНОВНАЯ СЕТКА>============================================================================================================================
.container {
  //   max-width: $maxWidthContainer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.inner-cont {
  max-width: 1275px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include lg {
    max-width: 90%;
  }
}
.swiper-wrapper {
  display: flex;
}

//</ОСНОВНАЯ СЕТКА>============================================================================================================================

// Компоненты
@import '../components/header/header';
@import '../components/footer/footer';
// @import "../components/tabs/tabs";

// Подключение стилей отдельных страниц
@import './pages/main';
